.container {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container h1 {
  font-size: 20px;
}
.container p {
  font-size: 15px;
  text-align: justify;
  color: var(--secondary-text-color);
  line-height: 22px;
}

.container ul {
  padding-left: 40px;
}
.container ul li {
  padding: 5px 0;
}
.destekUnsurlari ul {
  list-style-type: '– ';
}
