:root {
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --tertiary-color: #3c5930;
  --brown-color: #2a1f17;
  --border-radius: 10px;
  --cards-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  --background-color: var(--primary-color);
  --cards-bg-color: var(--secondary-color);
  --text-color: var(--tertiary-color);
  --secondary-text-color:var(--brown-color)
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* color: var(--text-color); */
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 1400px;
  max-width: calc(100% - 100px);
  margin: 0 auto;
  min-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
  min-height: 100vh;
}

button,
select {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}
p, li{
  line-height:25px
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: calc(100% - 100px);
  }
  .main {
    gap: 15px;
    padding: 15px 0;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: calc(100% - 30px);
  }
}
