.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: var(--border-radius);
}
.formContainer input:focus,
.formContainer textarea:focus {
  outline: none;
}
.formContainer input,
.formContainer textarea {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
}
.formContainer label {
  color: var(--secondary-text-color);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
}
.successMessage {
  color: var(--secondary-text-color);
  font-family: 'Montserrat';
  font-size: 15px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.rowContainers {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.error {
  color: red;
  font-family: 'Montserrat';
  font-size: 13px;
}
.formContainer button {
  background-color: var(--text-color);
  color: var(--background-color);
  font-family: 'Montserrat';
  font-size: 15px;
  width: 40%;
  align-self: center;
  padding: 10px 15px;
  border-radius: var(--border-radius);
}
@media screen and (max-width: 768px) {
  .rowContainers {
    flex-direction: column;
  }
}
