@font-face {
  font-family: 'Montserrat';
  src: url('../../app/fonts/Montserrat/Montserrat-Light.ttf');
}
.footer {
  background-color: var(--text-color);
  bottom: 0;
  padding: 20px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeInFromBottom 1s ease-out;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-75px);
}
.footer p,
.allRigthsReservedText {
  font-family: 'Montserrat';
  font-size: 12px;
  color: var(--background-color);
}
.allRigthsReservedText {
  text-align: center;
}
.linksContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}
.linksContainer button,
.logo,
.allRigthsReservedText {
  animation: zoomInFadeIn 1s ease-out forwards;
}
@keyframes zoomInFadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  .linksContainer {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    gap: 20px;
  }
  .container {
    transform: none;
  }
}
